body{
  overflow: hidden;
  position:fixed;
  width: 100%;
  margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#scrollDiv, #questionScrollDiv, #spaceScrollDiv {
  overflow-y:'scroll !important';
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.questionCategoryTab div::-webkit-scrollbar {
  display: none;
}

.Select-menu-outer {
  top: auto;
  bottom: calc(100% - 16px);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}

.textareaDiv .Select-menu-outer {
  bottom: calc(100%);
}
.Select-option:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.Select-option:last-child {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}
.Select.is-open > .Select-control {
  border-top-right-radius: unset;
  border-top-left-radius: unset;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
