<link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<meta name="viewport" content="initial-scale=1.0, width=device-width">


<script src="./index.js"></script>
<script type="text/javascript">
    (function () {
        window.__insp = window.__insp || [];
        __insp.push(['wid', 679788862]);
        var ldinsp = function () {
            if (typeof window.__inspld != "undefined") return;
            window.__inspld = 1;
            var insp = document.createElement('script');
            insp.type = 'text/javascript';
            insp.async = true;
            insp.id = "inspsync";
            insp.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://cdn.inspectlet.com/inspectlet.js?wid=679788862&r=' + Math.floor(new Date().getTime() /
                    3600000);
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(insp, x);
        };
        setTimeout(ldinsp, 0);
    })();
</script>

<dom-module id="lab-audit">


    <style is="custom-style">
        :host {
            touch-action: manipulation !important;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        }
    </style>
    <template>
        <iron-ajax id="ajax" url="{{window.location.origin}}/SessionExpiration?action=update" on-error="_catchError" handle-as="json"></iron-ajax>
        <lab-audit-react></lab-audit-react>
    </template>
</dom-module>
<script>
    Polymer({
        is: "lab-audit",

        behaviors: [TriPlatViewBehavior],

        ready: function () {
            //console.log("any")
            setInterval(() => {
                //console.log(this.$.ajax);
                this.$.ajax.generateRequest()
            }, 600000)
        },

        _catchError:function(){
            console.log("lost Internet");
            //alert("Connection Lost will try to reconnect in 10 minutes to keep session alive")
        }
    });
</script>