<dom-module id="multi-org-picker">
  <template> 
    <style is="custom-style"> 
      .org-item {
        @apply(--layout-horizontal);
        background-color: white;
        flex-shrink: 0;
        padding: 20px 40px 20px 40px;
        border-bottom: 1px solid var(--tri-primary-content-accent-color);
        cursor: pointer;
      }

      .value {
        color: var(--tri-focus-color);
      }

      [triselected] {
        background-color: #C0E6FF;
      }

      .obs {
        position: fixed;
        top: 50px;
        left: 20%;
        right: 20%;
      }
    </style>

    <triplat-ds id="workTaskOrgDS" name="costCenters" data="{{costCenters}}">
      <triplat-ds-context name="myInspections" context-id="{{inspectionId}}"></triplat-ds-context>
      <triplat-ds-context name="Questions" context-id="{{questionId}}"></triplat-ds-context>
      <triplat-ds-context name="workTask" context-id="{{workTaskId}}"></triplat-ds-context>
    </triplat-ds>

        <paper-dialog id="selectOrgs" class="obs" on-iron-overlay-opened="patchOverlay" on-opened-changed="_dialogOpened" modal>
            <h3>Audited Departments</h3>
            <paper-dialog-scrollable>
                <template id="orgList" is="dom-repeat" items="{{organizations}}">
                    <div id="org-{{workTaskId}}-{{item._id}}" class="org-item" triselected$="{{_isOrgSelected(item)}}" on-tap="_onOrgTap" tabindex="0">
                        <span class="id"><label></label><span class="value">{{item.name}}</span></span>
                    </div>
                </template>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss autofocus>Done</paper-button>
            </div>
        </paper-dialog>

        <paper-button on-tap="_onOpenOrgDialog">Pick Audited Departments</paper-button>

  </template>
</dom-module>
<script>
  Polymer({
    is: "multi-org-picker",

    properties: {
      inspectionId: Number,
      questionId: Number,
            workTaskId: Number,
            organizations: Array,
      selectedSpace: Object,
    },

        listeners: {
            'workTaskOrgDS.ds-get-complete' : '_onCostCenterLoad'
        },

        _onCostCenterLoad: function() {
            // if(this.costCenters) {
            //     this.costCenters.map(function(item) {
            //         this.$$(`#org-${this.workTaskId}-${item._id}`).setAttribute('triselected', true);
            //     }.bind(this));
            // }
        },

    _highlightSelected: function() {
            if(this.costCenters) {
                this.costCenters.map(function(item) {
                    this.$$('#org-' + this.workTaskId + '-' + item._id).setAttribute('triselected', true);

                    for (var i = 0; i < this.organizations.length; i ++) {
                        if (this.organizations[i].name == item.name) {
                            this.$$('#org-' + this.workTaskId + '-' + this.organizations[i]._id).setAttribute('triselected', true);
                        }
                    }
                }.bind(this));
            }
        },

    _onOpenOrgDialog: async function() {
      await this.$.workTaskOrgDS.refresh();
      this._filterDuplicates();
      this.organizations.sort(this.compare);  
      this.$.orgList.render();
      this._highlightSelected();
      this.$.selectOrgs.open();
    },

    _onOrgTap: function(e) {
      //Toggle the highlights
      var isSelected = this.$$(`#org-${this.workTaskId}-${e.model.item._id}`).hasAttribute('triselected');
      if(isSelected) {
        this.$$(`#org-${this.workTaskId}-${e.model.item._id}`).removeAttribute('triselected');
      } else {
        this.$$(`#org-${this.workTaskId}-${e.model.item._id}`).setAttribute('triselected', true);
      }
      
      //Perform the proper action on the selected org
      var selectedOrg = e.model.item;
      if(isSelected) {
        //the org was previously selected. Remove it from the selection
        this.$.workTaskOrgDS.removeRecord(selectedOrg, TriPlatDs.RefreshType.CLIENT);
      } else {
        //Add the current selection to the selected data source
        this.$.workTaskOrgDS.addRecord(selectedOrg, TriPlatDs.RefreshType.CLIENT);
      }
    },

    _isOrgSelected: function(org) {
      return false;
    },

    _refreshCostCenterList: function() {
            //Need to do this in order to force update the dom-repeat
            this.splice("organizations",0,0,"aaa");
            this.$.orgList.render();
            this.splice("organizations",0,1);
    },

    _dialogOpened: function(e) {
      if(e.detail.value) {
        Polymer.IronDropdownScrollManager.pushScrollLock(e.target);
      } else {
        Polymer.IronDropdownScrollManager.removeScrollLock(e.target);
      }
    },

    patchOverlay: function (e) {
      e.target.style.zIndex = 1100;
      if (e.target.withBackdrop) {
        e.target.backdropElement.style.zIndex = 1099;
        // e.target.parentNode.insertBefore(e.target._backdrop, e.target);  //changed in 3.5.2 to the line below
        e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
      }
    },

        _filterDuplicates: function() {
      var filOrg = [];
      var values = [];
      var value;

      for(var i = 0; i < this.organizations.length; i++) {
        value = this.organizations[i]["name"];

        if(values.indexOf(value) === -1) {
        filOrg.push(this.organizations[i]);
        values.push(value);
        }
      }
      this.organizations = filOrg;
            this._onCostCenterLoad();
    },

    compare: function(a, b) {
      if (a.name < b.name)
        return -1;
      if (a.name > b.name)
        return 1;
      return 0;
    },

  });
</script>