<dom-module id="view-question">
  <template>
    <style> 
      :host {
        @apply(--layout-flex);
        @apply(--layout-scroll);
        text-align: center;
        --paper-dialog: {
          margin-top: 2px;
        };
      } 

      paper-card {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        text-align: left;
      }

      paper-button {
        margin-bottom: 5px;
      }

      .header paper-card {
        text-align: center;
      }

      div.invalid {
        color: red;
      }

      paper-input {
        --paper-input-container: {
          padding: 0px; 
        };
      }

      cst-triplat-select-input {
        --paper-input-container: {
          padding: 0px; 
        };
      }
    </style> 

    <triplat-ds disable="true" id="workTaskDS" name="workTask" data="{{workTask}}">
      <triplat-ds-context name="myInspections" context-id="[[inspectionId]]"></triplat-ds-context>
      <triplat-ds-context name="Questions" context-id="[[question._id]]"></triplat-ds-context>
    </triplat-ds>

    <triplat-ds id="workTaskOrgDS" name="costCenters" data="{{costCenters}}">
      <triplat-ds-context name="myInspections" context-id="[[inspectionId]]"></triplat-ds-context>
      <triplat-ds-context name="Questions" context-id="[[question._id]]"></triplat-ds-context>
      <triplat-ds-context name="workTask" context-id="[[currentWorkTaskId]]"></triplat-ds-context>
    </triplat-ds>

    <div>
      <div id="div-[[question._id]]" class$="[[answered]]">
        <paper-card id="question-[[question._id]]">
          <span><h3>[[question.text]]</h3></span>
          <span>
						<paper-radio-group id="[[question.num]]" 
						    selected="[[question.resp]]" 
								on-paper-radio-group-changed="_onChangeAnswer">

              <paper-radio-button name="Yes">Yes</paper-radio-button>
              <paper-radio-button name="No">No</paper-radio-button>
              <template is="dom-if" if="[[_showNA(question.type.value)]]">
                <paper-radio-button name="N/A">N/A</paper-radio-button>
              </template>
						</paper-radio-group>
          </span>
          <span>
						<paper-input id="comment-[[question._id]]" label="Comments" 
						    value="[[question.comments]]" on-change="_onChangeComments">
							<paper-icon-button suffix on-tap="_onClearInput" icon="clear" 
							    alt="clear" title="clear" tabindex="0"></paper-icon-button>
            </paper-input>
					</span>
          <div class="card-actions">
            <div id="createWorkTask-[[question._id]]" class="horizontal layout">
              <div class="flex"># of Observations: [[wtCount]]</div>
              <div><paper-icon-button icon="add" on-tap="_onAddObservation">New Observation</paper-icon-button></div>
            </div>
          </div>
        </paper-card>
      </div>
    </div>

  </template>
</dom-module>
<script>
  Polymer({
    is: "view-question",

    created: function() {
      console.timeStamp('view-question');
    },

    properties: {
      inspectionId: Number,
      hideSection: {
        type: Boolean,
        value: true
      },
			question: {
				type: {},
				observer: '_onDataLoad'
			},
      wtCount: {
        type: Number,
        value: 0,
        notify: true,
      },
      answered: {
        type: String,
        value: "invalid"
      },
      currentWorkTaskId: {
        type: Number,
        notify: true,
      },
      selectedOrgs: Array,
    },

    listeners: {
      //'currentQuestionDS.ds-get-complete' : '_onDataLoad',
      'workTaskDS.ds-get-complete' : '_onWorkTaskLoad',
      'workTaskDS.ds-create-complete': '_handleCreateWorkTask',
    },

    observers: [
      '_handleActionChanged(woActionSelection)',
    ],

    workTaskDeleted: function () {
      --this.wtCount;
    },

    createWorkTask: async function (workTaskToCreate, selectedOrgs, callback) {
      this.$.workTaskDS.disable = false;
      this.selectedOrgs = selectedOrgs;
      const results = await this.$.workTaskDS.createRecord(workTaskToCreate, 
          TriPlatDs.RefreshType.SERVER, "default", "create");

      await this.$.currentQuestionDS.refresh();

      this.wtCount = this.wtCount + 1;
      this.fire("work-task-created");
      callback();
    }, 

    _handleCreateWorkTask: function(e) {
      if (!this.selectedOrgs)
        return;

      this.currentWorkTaskId = e.detail;

      for (let item of this.selectedOrgs)
        this.$.workTaskOrgDS.addRecord(item, TriPlatDs.RefreshType.CLIENT);

      this.selectedOrgs = [];
    },

    _onDataLoad: function () {
      const hideButton = this.question.resp === null || 
			    this.question.resp === "Yes" || this.question.resp === "N/A";
      this.hideSection = this.question.resp === null || this.question.resp === "Yes" ||
			     this.question.resp === "N/A" ? true : !hideButton;
      this.$$(`#createWorkTask-${this.question._id}`).hidden = hideButton;
      this.answered = this.question.resp !== null ? "valid" : "invalid";

      if (this.question.wtcreated)
        this.$.workTaskDS.disable = false;
      else if (!this.question.wtcreated)
        this.$.workTaskDS.disable = true;
    },

    _onWorkTaskLoad: function() {
      this.wtCount = typeof this.workTask.length == "undefined" ? 0 : this.workTask.length;
    },

    _onChangeAnswer: async function(e) {
      this._onDataLoad();
      //await this.$.currentQuestionDS.updateRecord(this.question._id);
      this.answered = "valid";
      this.fire("data-change", this.question);
    },

    _onChangeComments: function() {
      this.$.currentQuestionDS.updateRecord(this.question._id);
    },

    _onAddObservation: function (e) {
      this.fire('open-wo-dialog', {
				questionId: this.question._id,
				reqClass: this.question.reqclass,
				num: this.question.num
			});
    },

    _showNA: function (type) {
      return type === "Yes/No/NA";
    },

    _containsWorkOrder: function () {
      if (this.question === null)
        return true;

      if (this.question.resp === "No" &&
          this.question.wtcreated != null)
        return this.question.wtcreated === true;

      return false;
    },

    _onClearInput: function() {
      document.getElementById('comment-' + this.question._id).value = '';
    },
  });
</script>