<dom-module id="view-spaces">
  <template> 
    <style is="custom-style"> 
      :host {
        @apply(--layout-flex);
        @apply(--layout-vertical);
        @apply(--layout-relative);
        @apply(--layout-scroll);
      }

      .space-item {
        @apply(--layout-horizontal);
        background-color: white;
        flex-shrink: 0;
        padding: 20px 40px 20px 40px;
        border-bottom: 1px solid var(--tri-primary-content-accent-color);
        cursor: pointer;
      }

      .value {
        color: var(--tri-focus-color);
      }

      [triselected] {
        background-color: #C0E6FF;
      }

      .id {
        @apply(--layout-flex-2);
      }

    </style>

    <template is="dom-repeat" items="[[availableSpaces]]">
			<div id="space-[[item._id]]" class="space-item" 
					 triselected$="[[_isSelected(item)]]" on-tap="_onSpaceTap">
        <span class="id"><span class="value">[[item.name]]</span></span>
      </div>
    </template>

  </template>
</dom-module>
<script>
  Polymer({
    is: "view-spaces",

    properties: {
			availableSpaces: {
        type: Array,
				observer: "_onAvailableSpacesChanged"
			},
      selectedSpaces: {
        type: {},
				notify: true
      },
    },

		_onAvailableSpacesChanged: function() {
			this.availableSpacesSet = {};
			for (let space of this.availableSpaces)
				this.availableSpacesSet[space._id] = space;
		},

    _onSpaceTap: function(e) {
			const el = this.$$(`#space-${e.model.item._id}`);
      if (el.hasAttribute('triselected')) {
        el.removeAttribute('triselected');
				this.fire('space-removed', this.availableSpacesSet[e.model.item._id]);
			} else {
        el.setAttribute('triselected', '');
				this.fire('space-added', this.availableSpacesSet[e.model.item._id]);
			}
    },

    _isSelected: function(space) {
			return this.selectedSpaces[space._id] && true;
    },
  });
</script>