<link rel="import" href="view-question.html">

<dom-module id="view-category">
  <template>
    <style> 
      :host {
        @apply(--layout-flex);
        @apply(--layout-scroll);
        text-align: center;
      }

      paper-card {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        text-align: left;
      }

      paper-button {
        margin-bottom: 5px;
      }

      .big {
        --paper-icon-button: {
            width: 100px;
            height: 100px;
          }
      }

      .org-item {
        @apply(--layout-horizontal);
        background-color: white;
        flex-shrink: 0;
        padding: 20px 40px 20px 40px;
        border-bottom: 1px solid var(--tri-primary-content-accent-color);
        cursor: pointer;
      }

      .value {
        color: var(--tri-focus-color);
      }

      [triselected] {
        background-color: #C0E6FF;
      }

      paper-input {
        --paper-input-container: {
          padding: 0px; 
        };
      }

      cst-triplat-select-input {
        --paper-input-container: {
          padding: 0px; 
        };
      }

         .newObsError {
          color: red;
        }

      div.invalid {
          color: red;
        }

      .obs {
        position: fixed;
        top: 0px;
        left: 20%;
        right: 20%;
      }
      .caret{
        width: 100px;
      }
		</style>

    <triplat-ds id="allReqClassDSS" name="requestClass" data="{{allRequestClasses}}">
      <triplat-query>
        <triplat-query-scroll-page scroller="[[reqClassScroller]]" size="50"></triplat-query-scroll-page>
        <triplat-query-filter name="name" operator="contains" value="[[searchReqClass]]" ignore-if-blank></triplat-query-filter>
      </triplat-query>
    </triplat-ds>

    <triplat-ds id="allEmployeeDS" name="employees" data="{{allEmployees}}">
      <triplat-query>
        <triplat-query-scroll-page scroller="[[employeeScroller]]" size="50"></triplat-query-scroll-page>
        <triplat-query-filter name="name" operator="contains" value="[[searchEmployee]]" ignore-if-blank></triplat-query-filter>
      </triplat-query>
    </triplat-ds>

    <triplat-ds id="orgDS" name="organizations" filtered-data="{{organizations}}">
      <triplat-query>
        <triplat-query-sort name="name"></triplat-query-sort>
      </triplat-query>
    </triplat-ds>

    <paper-dialog id="selectOrgs" on-opened-changed="_dialogOpened" >
      <h3>Audited Departments</h3>
      <paper-checkbox id="toggleCC" on-change="_toggleAllCC" hidden$="[[!selectedSpace]]">Show All Departments</paper-checkbox>
      <paper-dialog-scrollable>
        <template id="orgList" is="dom-repeat" items="[[organizations]]" filter="_showDepartment">
          <div id="org-[[item._id]]" class="org-item" triselected$="[[_isSelected(item)]]" on-tap="_onOrgTap" tabindex="0">
            <span class="id"><label></label><span class="value">[[item.name]]</span></span>
          </div>
        </template>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss on-tap="_onCancelOrgSelection">Cancel</paper-button>
        <paper-button dialog-dismiss autofocus>Done</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="createWorkTask" class="obs" modal>
      <h4>New Observation[[disableCreate]]</h4>
      
      <paper-checkbox checked="[[flagged]]">Flagged</paper-checkbox>
      <cst-triplat-select-input
        id="newSpace"
        label="Lab" 
        value="[[selectedSpace]]"
        value-name="name"
        readonly
        select-src="[[availableSpaces]]">
      </cst-triplat-select-input>
      <br>
      <paper-button on-tap="_onOpenOrgDialog" disabled$="[[!selectedSpace.value]]">Pick Audited Departments</paper-button>
      <paper-input id="newBench" label="Bench/Location" value="[[bench]]"></paper-input>
      <paper-input id="newComment" label="Observation/Action" value="[[comments]]"></paper-input>
      <cst-triplat-select-input
        id="newAction" 
        label="Correction Action" 
        value="[[woActionSelection]]"
        value-name="value"
        readonly
        select-src="[[allWOActions]]">
      </cst-triplat-select-input>
      <cst-triplat-select-input
        id="newRiskLevel" 
        label="Risk Level" 
        value="[[riskLevelSelection]]"
        value-name="value"
        readonly
        select-src="[[allRiskLevels]]">
      </cst-triplat-select-input>
      <cst-triplat-select-input
        id="newReqClass" 
        hidden$="[[hideReqClass]]"
        label="Request Class" 
        value="[[reqClass]]"
        value-name="name"
        select-src="[[requestClasses]]"
        search-value="[[searchReqClass]]"
        scroller="[[reqClassScroller]]">
      </cst-triplat-select-input>
      <cst-triplat-select-input
        id="oldReqClass" 
        hidden="true"
        value-name="name"
        select-src="[[allRequestClasses]]">
      </cst-triplat-select-input>
      <cst-triplat-select-input
        id="newEmployee" 
        hidden$="[[hideEmployee]]"
        label="Responsible Person" 
        value="[[employee]]"
        value-name="name"
        select-src="[[allEmployees]]"
        search-value="[[searchEmployee]]"
        scroller="[[employeeScroller]]">
      </cst-triplat-select-input>
      <cst-triplat-select-input
        id="newCostCenter" 
        hidden$="[[hideOrg]]"
        value="[[org]]"
        value-name="name"
        select-src="{{costCenters}}"
        readonly><div label class="span-label"><span><paper-icon-button class="caret" icon="expand-more"></paper-icon-button></span></div>
      </cst-triplat-select-input>
      <div class="buttons">
        <paper-button dialog-dismiss on-tap="_onCancelCreate">Cancel</paper-button>
        <paper-button  on-tap="_onConfirmCreate" disabled="[[disableCreate]]">Create</paper-button>
      </div>
    </paper-dialog>

    <div id="container-[[categoryId]]">
      <paper-card>
        <div class="horizontal layout">
          <div id="cat-showless-[[categoryId]]" hidden="true"><paper-icon-button class="big" icon="expand-less" on-tap="_onShowLess">Less</paper-icon-button></div>
          <div id="cat-showmore-[[categoryId]]"><paper-icon-button class="big" icon="expand-more" on-tap="_onShowMore">More</paper-icon-button></div>
          <div class$="vertical layout flex [[validCat]]" on-tap="_onToggleDisplay">
            <h4>[[questionCategory]]</h4>
          </div>
        </div>
      </paper-card>

      <div id="question-list-[[categoryId]]" hidden="true">
        <template is="dom-repeat" items="[[allQuestions]]">
					<view-question
							id="view-question-[[item._id]]"
							question=[[item]]
							inspection-id="[[inspectionId]]"
							on-open-wo-dialog="_onAddObservation"
							on-data-change="_onDataChange">
					</view-question>
        </template>

        <paper-card>
          <div class="horizontal layout">
            <div id="bot-showless-[[item._id]]"><paper-icon-button class="big" icon="expand-less" on-tap="_onShowLess">Less</paper-icon-button></div>
            <div class$="vertical layout flex [[validCat]]" on-tap="_onShowLess">
              <h4>Collapse All [[questionCategory]] Questions</h4>
            </div>
          </div>
        </paper-card>
      </div>
    </div>
  </template>
</dom-module>
<script>

  Polymer({
    is: "view-category",

    properties: {
      questionCategory: String,
      categoryId: Number,
      inspectionId: Number,
      woQuestionId: Number,
      woQuestionNum: Number,
      allQuestions: {
        type: {},
        observer: "_onAllQuestionsChanged"
      },
      disableCreate: {
        type: Boolean,
        value: true,
        notify: true,
      },
      bench: String,
      comments: String,
      selectedSpace: Object,
      allRiskLevels: Array,
      allWOActions: Array,
      woActionSelection: {
        type: Array,
        notify: true
      },
      hideReqClass: Boolean,
      hideEmployee: Boolean,
      hideOrg: Boolean,
      org: Object,
      riskLevels: {
        type: Array,
        notify: true
      },
      workOrderActions: {
        type: Array,
        notify: true
      },
      availableSpaces: Array,
      selectedOrgs: {
        type: Array,
        value: [],
        notify:true
      },
      validCat: {
        type: String,
        value: "invalid"
      },
      orgsCounter:{
        type:Number,
        notify:true
      },
      flagged: Boolean,
      showAllCC: {
        type: Boolean,
        value: false,
      },
      costCenters: {
        type: Array,
        value: []
      },
      requestClasses: {
        type: Array,
        value: [],
      },
    },

    listeners: {
      //'invalidQuestionDSS.ds-get-complete' : '_onDataLoad',
      // 'workTaskDS.ds-get-complete' : '_onWorkTaskLoad',
      'orgList.dom-change' : '_onOrgListRender',
      'orgDS.ds-get-complete' : '_filterDuplicates',
      'allReqClassDSS.ds-get-complete' : '_addParent',
    },

    observers: [
      '_handleRiskLevelChanged(riskLevels)',
      '_handleWOActionChanged(workOrderActions)',
      '_handleActionChanged(woActionSelection)',
      '_handleRequiredFields(selectedSpace,employee,orgsCounter)'
    ],

    _handleRequiredFields: function(a,b,c) {
      if(a != null && b != null && c > 0)
        this.disableCreate = false;
      else
        this.disableCreate = true;
    },

    _handleRiskLevelChanged: function(newList) {
      this.allRiskLevels = this.riskLevels;
    },

    _handleWOActionChanged: function(newList) {
      this.allWOActions = this.workOrderActions;
    },

    workTaskDeleted: function(questionId) {
      this.$$('#view-question-' + questionId).workTaskDeleted();
    },

    _onAddObservation: function(e) {
      if (!e.detail.questionId) {
        console.error('Question ID not provided');
    return;
   }

   this.woQuestionId = e.detail.questionId;
   this.woQuestionNum = e.detail.num;
   //this.disableCreate = false;
   this.comments = '';
   this.selectedSpace = null;
   this.org = null;
   this.reqClass = e.detail.reqClass;
   this.flagged = false;
   this.riskLevelSelection = { 
    id: this.allRiskLevels[0]._id,
    value: this.allRiskLevels[0].value 
   };
   this.woActionSelection = { 
    id: this.allWOActions[0]._id,
    value: this.allWOActions[0].value 
   };
   this.employee = null;
   this._onCancelOrgSelection();
   this.showAllCC = false;
   this.$.createWorkTask.open();
    },

    _onConfirmCreate: function() {
      //this.woActionSelection.value == "Corrected On-site"
      if(((this.selectedOrgs && this.selectedOrgs.length > 0)
        && this.selectedSpace != null 
        && this.riskLevelSelection != null 
        && this.woActionSelection != null
        && ((this.org != null && !this.hideOrg) || 
        (this.reqClass != null && !this.hideReqClass) || 
        (this.employee != null && !this.hideEmployee))) || this.flagged) {
        var tempWO = {value:""};
        if (this.woActionSelection) {
          tempWO = this.woActionSelection;
        }
        var workTaskToCreate = {
          name: "Lab Audit Observation",
          description: this.comments,
          num: this.woQuestionNum,
          reqclass: this.reqClass,
          org: this.org,
          space: this.selectedSpace,
          bench: this.bench,
          responsible: this.employee,
          action: tempWO,
          flagged: this.flagged,
          risk: this.riskLevelSelection
        }
        this.disableCreate = false;
        this.$$('#view-question-' + this.woQuestionId).createWorkTask(workTaskToCreate, this.selectedOrgs, function () { 
          this.$.createWorkTask.close(); 
          this.fire("toggle-flag");
        }.bind(this));
        this.woQuestionId = null;
        this.woQuestionNum = null;
      }       
    },

    _onCancelCreate: function() {

    },

    _handleActionChanged: function(woActionSelection) {
      this.hideEmployee = true;
      this.hideReqClass = true;
      this.hideOrg = true;
      if(woActionSelection) {
        if(woActionSelection.value == "Create Work Order") {
          this.hideReqClass = false;
        } else if(woActionSelection.value == "User Action Required") {
          this.hideEmployee = false;
        } else if(this.woActionSelection.value == "Corrected On-site") {
          this.hideOrg = false;
        }
      }
    },

        _onToggleDisplay: function() {
            if(this.$$('#question-list-' + this.categoryId).hidden) {
                this._onShowMore();
            } else {
                this._onShowLess();
            }
        },
    
    _onShowLess: function() {
      this.$$('#question-list-' + this.categoryId).hidden = true;
      this.$$('#cat-showless-' + this.categoryId).hidden = true;
      this.$$('#cat-showmore-' + this.categoryId).hidden = false;
    },

    _onShowMore: function() {
      this.$$('#question-list-' + this.categoryId).hidden = false;
      this.$$('#cat-showless-' + this.categoryId).hidden = false;
      this.$$('#cat-showmore-' + this.categoryId).hidden = true;
    },

    /********Org Popup Methods********/
    _onOpenOrgDialog: function() {
      // this.showAllCC = false;
      this.$.toggleCC.checked = this.showAllCC || !this.selectedSpace;
      this.$.orgDS.refresh();
      // if (this.$.toggleCC.checked) {
      //   this._filterDuplicates();
      // } else {
      //   this.$.orgDS.refresh();
      // }
      this.$.orgList.render();
      // this._highlightSelected();
      
      this.$.selectOrgs.open();
    },

    _onOrgTap: function(e) {
      //Toggle the highlights
      var isSelected = this.$$('#org-' + e.model.item._id).hasAttribute('triselected');
      if(isSelected) {
        this.$$('#org-' + e.model.item._id).removeAttribute('triselected');
      } else {
        this.$$('#org-' + e.model.item._id).setAttribute('triselected', true);
      }
      
      //Perform the proper action on the selected space
      var selectedOrg = e.model.item;
      if(isSelected) {
        //the org was previously selected. Remove it from the selection
        var index = -1;
        for(var i = 0; i < this.selectedOrgs.length; i++) {
          if(selectedOrg._id == this.selectedOrgs[i]._id) {
            index = i;
            break;
          }
        }
        if(index > -1) {
          this.selectedOrgs.splice(index, 1);
          this.orgsCounter=this.selectedOrgs.length

        }
      } else {
        //Add the current selection to the selected data source
        this.selectedOrgs.push(selectedOrg);
        this.orgsCounter=this.selectedOrgs.length
      }
    },

    _onCancelOrgSelection: function() {
      //deselect all selected rows
      this.selectedOrgs.map(function(item) {
        if(this.$$('#org-' + item._id).hasAttribute('triselected')){
        this.$$('#org-' + item._id).removeAttribute('triselected');
      }
      }.bind(this));
      this.selectedOrgs = [];
      this.orgsCounter=this.selectedOrgs.length
    },

    _isSelected: function(org) {
      return false;
    },

    /********General Helpers********/
    _dialogOpened: function(e) {
      if(e.detail.value) {
        Polymer.IronDropdownScrollManager.pushScrollLock(e.target);
      } else {
        Polymer.IronDropdownScrollManager.removeScrollLock(e.target);
      }
    },

    _onDataChange: function(e) {
      this.fire("question-answered", e.detail);
      this._onAllQuestionsChanged();
    },

    _onAllQuestionsChanged: function() {
      this.validCat = "valid";
      for (let question of this.allQuestions || []) {
        if (question.cat === this.questionCategory && !question.resp) {
          this.validCat = "invalid";
          break;
        }
      }
    },

    _filterDuplicates: function() {
      var filOrg = [];
      var values = [];
      var value;

      if(this.costCenters.length == 0) {
        this.costCenters = this.organizations;
        this._filterDuplicateCCs();
      }

      if(this.selectedSpace && this.$.toggleCC.checked) {
        for(var i = 0; i < this.organizations.length; i++) {
          value = this.organizations[i]["name"];

          if(values.indexOf(value) === -1) {
            filOrg.push(this.organizations[i]);
            values.push(value);
          }
        }
        this.organizations = filOrg;
      }
    },

    _filterDuplicateCCs: function() {
      const values = [];
      const filOrg = [];

			for (let cc of this.costCenters || []) {
        const value = cc.name;

        if (values.indexOf(value) === -1) {
          filOrg.push(cc);
          values.push(value);
        }
      }
      this.costCenters = filOrg;
    },

    _showDepartment: function(org) {
      if (this.showAllCC || !this.selectedSpace) {
        return true;
      } else if (org.space == this.selectedSpace.value) {
        return true;
      } 
      return false;
    },

    _toggleAllCC: function(item) {
      if (item) {
        this.showAllCC = item.target.checked;
      }
      
      if (this.showAllCC) {
        this._filterDuplicates();
      } else {
        this.$.orgDS.refresh();
      }
      this.$.orgList.render();
      this.$.selectOrgs.notifyResize();
    },

    _highlightSelected: function() {
      for (let item of this.selectedOrgs || []) {
        const el = this.$$(`#org-${item._id}`);
        if (el)
          el.setAttribute('triselected', '');
      }
    },

    _onOrgListRender: function(e) {
      this._highlightSelected();
      this.$.selectOrgs.notifyResize();
    },

    _addParent: function() {    
      this.requestClasses = this.clone(this.allRequestClasses); 
      
      for (let requestClass of this.requestClasses)
        requestClass.name = `${requestClass.parent}\\${requestClass.name}`;
    },
    
    clone: function(obj) {
      if (obj === null || typeof(obj) !== 'object' || 'isActiveClone' in obj)
        return obj;

      const temp = obj instanceof Date ? new obj.constructor() : obj.constructor();
      for (let key in obj) {
        if (Object.prototype.hasOwnProperty.call(obj, key)) {
          obj['isActiveClone'] = null;
          temp[key] = this.clone(obj[key]);
          delete obj['isActiveClone'];
        }
      }

      return temp;
    }

  });
</script>