<link rel="import" href="../triplat-routing/triplat-routing.html">
<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../triplat-query/triplat-query.html">
<link rel="import" href="../triplat-date-picker/triplat-date-picker.html">
<link rel="import" href="../cst-triplat-select-input/cst-triplat-select-input.html">

<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<link rel="import" href="../iron-list/iron-list.html">

<link rel="import" href="view-all-questions.html">

<dom-module id="view-lab-audit">
  <template>

    <style>
      :host {
        @apply(--layout-flex);
        @apply(--layout-scroll);
        text-align: center;
      }

      paper-card {
        width: 100%;
        margin-top: 10px;
        text-align: left;
      }

      paper-button {
        margin-bottom: 5px;
      }

      .header paper-card {
        text-align: center;
            @apply(--layout-center-justified);
      }

      .no-border {
        box-shadow: none !important;
      }

      #top {
        position: fixed;
        top: 64px;
        left: 50%;
        z-index: 1000;
        width: 100%;
        background: rgb(255, 255, 255);
        transform: translateX(-50%);
      }

      paper-input {
          --paper-input-container-disabled: {
          opacity: 0.8;
          };
      }

      triplat-date-picker {
          --paper-input-container-disabled: {
          opacity: 0.8;
          };
      }

      cst-triplat-select-input {
          --paper-input-container-disabled: {
          opacity: 0.8;
          };
      }
    </style>

    <triplat-route name="viewInspection" params="{{params}}"></triplat-route>
    <triplat-route id="inspectionHeaderRoute" name="inspectionHeader" path="/header"></triplat-route>
    <triplat-route id="inspectionDetailsRoute" name="inspectionDetails" path="/details"></triplat-route>

    <triplat-ds id="inspectionDS" name="myInspections" data="{{inspection}}">
      <triplat-ds-instance instance-id="{{params.inspectionId}}"></triplat-ds-instance>
    </triplat-ds>

    <triplat-ds id="invalidQuestionDS" name="invalidQuestions" data="{{invalidQuestions}}">
      <triplat-ds-context name="myInspections" context-id="{{params.inspectionId}}"></triplat-ds-context>
    </triplat-ds>

    <triplat-ds id="flaggedWTDS" name="flaggedWorkTasks" data="{{flaggedWorkTasks}}">
      <triplat-ds-context name="myInspections" context-id="{{params.inspectionId}}"></triplat-ds-context>
    </triplat-ds>

    <triplat-ds id="buildingDS" name="buildings" data="{{buildings}}">
      <triplat-query>
        <triplat-query-scroll-page scroller="{{buildingScroller}}" size="50"></triplat-query-scroll-page>
        <triplat-query-filter name="name" operator="contains" value="{{searchBuilding}}" ignore-if-blank></triplat-query-filter>
      </triplat-query>
    </triplat-ds>

    <triplat-ds id="floorDS" name="floors" data="{{floors}}">
      <triplat-ds-context name="buildings" context-id="{{inspection.building.id}}"></triplat-ds-context>
      <triplat-query>
        <triplat-query-scroll-page scroller="{{floorScroller}}" size="50"></triplat-query-scroll-page>
        <triplat-query-filter name="name" operator="contains" value="{{searchFloor}}" ignore-if-blank></triplat-query-filter>
      </triplat-query>
    </triplat-ds>

    <paper-dialog id="confirmation">
      <h3>Complete Inspection Confirmation</h3>
      <p>Are you sure you want to complete the current inspection?<br />Please validate all observations before completing the current inspection</p>
      <div class="buttons">
        <paper-button dialog-dismiss>No</paper-button>
        <paper-button dialog-confirm autofocus on-tap="_onConfirmComplete">Yes</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="processing" modal>
      <h3>Please wait...</h3>
    </paper-dialog>

    <triplat-route-selector>
      <iron-pages>
        <section route="inspectionHeader" default-route>
          <div id="headerSection" class="header">
            <paper-card>
              <span><h1>Lab Audit</h1></span>
							<paper-input label="Inspection Name" 
							    value="{{inspection.inspectionname}}" 
									on-change="_onValueChanged"></paper-input>

              <div class="horizontal layout">
                <div class="flex">
                  <div class="vertical layout">

                    <cst-triplat-select-input 
												id="buildingSelector"
												label="Building" 
												value="{{inspection.building}}"
												value-name="name"
												readonly
												select-src="[[buildings]]"
												search-value="[[searchBuilding]]"
												scroller="[[buildingScroller]]"
												disabled$="[[inspection.started]]"
												on-select-input-value-change="_onValueChanged">
                    </cst-triplat-select-input>

                    <cst-triplat-select-input 
												id="floorSelector"
												label="Floor" 
												value="{{inspection.floor}}"
												value-name="name"
												readonly
												select-src="[[floors]]"
												search-value="[[searchFloor]]"
												scroller="[[floorScroller]]"
												disabled$="[[inspection.started]]"
												on-select-input-value-change="_onValueChanged"> 
                    </cst-triplat-select-input>

										<paper-checkbox checked="{{inspection.multifloor}}" 
												disabled$="{{inspection.started}}" 
												on-change="_toggleLocation">Multi-Floor</paper-checkbox>
                  </div>
                </div>
                <div class="flex">
                  <div class="vertical layout center-center">
										<triplat-date-picker label="Inspection Date" 
										    value="{{inspection.date}}" disabled></triplat-date-picker>
                  </div>
                </div>
              </div>

              <div class="card-actions">
                <div id="startInspectionButton" hidden$="{{inspection.started}}">
                  <paper-button on-tap="_onStartInspection" 
                      disabled$="{{disableStart}}">Start Inspection</paper-button>
                </div>
                <div id="hideHeaderButton" hidden$="{{!inspection.started}}">
                  <paper-button 
                      on-tap="_onHideHeader">Hide Inspection Details</paper-button>
                </div>
              </div>
            </paper-card>
          </div>
        </section>

        <section route="inspectionDetails">
          <div class="question">
            <view-all-questions
              id="question"
              inspection-id="[[params.inspectionId]]"
              building-id="[[inspection.building]]"
              floor-id="[[inspection.floor]]"
              on-toggle-flag="_onToggleFlag">
            </view-all-questions>
          </div>
        </section>
      </iron-pages>
    </triplat-route-selector>

  </template>
</dom-module>
<script>
  Polymer({
    is: "view-lab-audit",

    listeners: {
      'inspectionDS.ds-get-complete': '_onInspectionLoad',
      'question.show-header': '_onShowHeader',
      'question.question-answered': '_toggleCompleteAction',
      'question.complete-inspection': '_onCompleteInspection',
    },

    properties: {
      disableStart: {
        type: Boolean,
        value: true,
        notify: true,
      },
    },

    _onInspectionLoad: function() {
      if (this.inspection.started) {
        this.$.inspectionDetailsRoute.navigate();
        this.disableStart = false;
      } else {
        this.$.inspectionHeaderRoute.navigate();
        this.disableStart = ((!this.inspection.floor || !this.inspection.floor.value) && !this.inspection.multifloor);
      }
      this._toggleCompleteAction();
      this._toggleLocation();
    },

    _onStartInspection: function() {
      this.$.processing.open();
      this.inspection.started = true;
      this.$.inspectionDS.updateRecord(this.inspection._id, TriPlatDs.RefreshType.SERVER);
      this._onInspectionLoad();
      this.$.processing.close();
    },

    _onShowHeader: function() {
      this.$.inspectionHeaderRoute.navigate();
    },

    _onHideHeader: function() {
      this.$.inspectionDetailsRoute.navigate();
    },

    _onCompleteInspection: function() {
      this.$.confirmation.open();
    },

    _onConfirmComplete: async function() {
      this.$.confirmation.close();
      this.$.processing.open();
      await this.$.inspectionDS.updateRecord(this.inspection._id, TriPlatDs.RefreshType.SERVER, "default", "complete");
      this.fire("inspection-completed");
      this.$.processing.close();
    },

    _onValueChanged: function() {
      if (this.inspection != null && typeof this.inspection._id !== "undefined") {
        this.disableStart = ((!this.inspection.floor || !this.inspection.floor.value) && !this.inspection.multifloor);
        this.$.inspectionDS.updateRecord(this.inspection._id)
      }
    },

    _toggleCompleteAction: async function() {
      await this.$.invalidQuestionDS.refresh();
      await this.$.flaggedWTDS.refresh();

      this.disableComplete = this.invalidQuestions.length > 0 || this.flaggedWorkTasks.length > 0;
    },

    _onToggleFlag: function() {
      //this.$.flaggedWTDS.refresh();
      this._toggleCompleteAction();
    },

    _toggleLocation() {
      if (this.inspection) {
        if(this.inspection.multifloor) {
          this.$.floorSelector.hidden = true;
          this.inspection.floor = {};
        } else {
          this.$.floorSelector.hidden = false;
        }
      }
      this._onValueChanged();
    },
  });
</script>