<link rel="import" href="multi-org-picker.html">

<dom-module id="view-work-task">
  <template>

    <style> 
      :host {
        @apply(--layout-flex);
        @apply(--layout-scroll);
        text-align: center;
      }

      paper-card {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        text-align: left;
      }

      paper-button {
        margin-bottom: 5px;
      }

      paper-card.red {
        color: red;
      }

      paper-checkbox.red {
        --paper-checkbox-checked-color: red;
        --paper-checkbox-label-color: red;
        color: red;
      }

      paper-input.red {
        --paper-input-container-input-color: red;
        
      }

      cst-triplat-select-input.red {
        --paper-input-container-input-color: red;        
      }

    </style>

    <triplat-ds id="currentWorkTaskDS" name="workTaskList" data="{{currentWorkTasks}}">
      <triplat-ds-context name="myInspections" context-id="{{inspectionId}}"></triplat-ds-context>
      <triplat-ds-context name="questionsWithObservations" context-id="{{questionId}}"></triplat-ds-context>
    </triplat-ds>

    <triplat-ds id="allEmployeeDS" name="employees" data="{{allEmployees}}">
      <triplat-query>
        <triplat-query-scroll-page scroller="{{employeeScroller}}" size="50"></triplat-query-scroll-page>
        <triplat-query-filter name="name" operator="contains" value="{{searchEmployee}}" ignore-if-blank></triplat-query-filter>
      </triplat-query>
    </triplat-ds>

    <triplat-ds id="allReqClassDSS" name="requestClass" data="{{allRequestClasses}}">
      
    </triplat-ds>

  
      <triplat-query data="{{requestClasses}}" filtered-data-out="{{filteredClasses}}">        
        <triplat-query-filter name="name" operator="contains" value="{{searchReqClass}}" ignore-if-blank></triplat-query-filter>
      </triplat-query>
    

    <triplat-ds id="orgDSS" name="organizations" data="{{organizations}}">
      <!--<triplat-query>
        <triplat-query-sort name="name"></triplat-query-sort>
      </triplat-query>-->
      <!--<triplat-query>
        <triplat-query-scroll-page scroller="{{ccScroller}}" size="50"></triplat-query-scroll-page>
        <triplat-query-filter name="name" operator="contains" value="{{searchCC}}" ignore-if-blank></triplat-query-filter>
      </triplat-query>-->
    </triplat-ds>

    <template id="workTaskList" is="dom-repeat" items="{{currentWorkTasks}}">
      <paper-card id="pcard-{{item._id}}"  class$="{{_isFlagged(item.flagged)}}">
        <paper-checkbox checked="{{item.flagged}}" on-change="_toggleFlagged" class$="{{_isFlagged(item.flagged)}}">Flagged</paper-checkbox>
        <div>&nbsp;</div>
        <multi-org-picker
          id="picker-{{item._id}}"
          inspection-id="{{inspectionId}}"
          question-id="{{questionId}}"
          work-task-id="{{item._id}}"
          organizations="{{organizations}}" 
          selected-space="{{item.space}}"
          class$="{{_isFlagged(item.flagged)}}">
        </multi-org-picker>

        <cst-triplat-select-input
          label="Lab" 
          value="{{item.space}}"
          value-name="name"
          readonly
          select-src="{{availableSpaces}}"
          on-select-input-value-change="_onSaveWorkTask"
          class$="{{_isFlagged(item.flagged)}}">
        </cst-triplat-select-input>

        <paper-input id="bench" label="Bench" value="{{item.bench}}" on-change="_onSaveWorkTask" class$="{{_isFlagged(item.flagged)}}"></paper-input>
        <paper-input label="Observation/Action" value="{{item.description}}" on-change="_onSaveWorkTask" class$="{{_isFlagged(item.flagged)}}"></paper-input>
        <cst-triplat-select-input
          id="newAction" 
          label="Correction Action" 
          value="{{item.action}}"
          value-name="value"
          readonly
          select-src="{{workOrderActions}}"
          on-select-input-value-change="_handleActionChanged"
          class$="{{_isFlagged(item.flagged)}}">
        </cst-triplat-select-input>
        <cst-triplat-select-input
          id="newRiskLevel" 
          label="Risk Level" 
          value="{{item.risk}}"
          value-name="value"
          readonly
          select-src="{{riskLevels}}"
          on-select-input-value-change="_onSaveWorkTask"
          class$="{{_isFlagged(item.flagged)}}">
        </cst-triplat-select-input>
        <cst-triplat-select-input 
          id="req-{{item._id}}"
          hidden$="{{_onHideReqClass(item.action)}}"
          label="Request Class" 
          value="{{item.reqclass}}"
          value-name="name"
          select-src="{{filteredClasses}}"
          search-value="{{searchReqClass}}"
          on-select-input-value-change="_onSaveWorkTask"
          class$="{{_isFlagged(item.flagged)}}">
        </cst-triplat-select-input>
        <cst-triplat-select-input 
          id="reqOld-{{item._id}}"
          hidden="true"
          value-name="name"
          select-src="{{allRequestClasses}}">
        </cst-triplat-select-input>
        <cst-triplat-select-input
          id="emp-{{item._id}}"
          hidden$="{{_onHideEmp(item.action)}}"
          label="Responsible Person" 
          value="{{item.responsible}}"
          value-name="name"
          select-src="{{allEmployees}}"
          search-value="{{searchEmployee}}"
          scroller="{{employeeScroller}}"
          on-select-input-value-change="_onSaveWorkTask"
          class$="{{_isFlagged(item.flagged)}}">
        </cst-triplat-select-input>

        <cst-triplat-select-input
          id="org-{{item._id}}"
          hidden$="{{_onHideOrg(item.action)}}"
          label="Cost Center" 
          value="{{item.org}}"
          value-name="name"
          select-src="{{organizations}}"
          on-select-input-value-change="_onSaveWorkTask"
          class$="{{_isFlagged(item.flagged)}}"
          readonly>
        </cst-triplat-select-input>
        <div class="card-actions">
          <paper-icon-button icon="delete" on-tap="_onDeleteWorkTask">Delete</paper-icon-button>
        </div>
      </paper-card>
    </template>

  </template>
</dom-module>
<script>
  Polymer({
    is: "view-work-task",

    properties: {
      inspectionId: Number,
      questionId: Number,
      categoryName: String,
      riskLevels: Array,
      workOrderActions: Array,
      availableSpaces: Array,
      organizations: Array,
      currentTaskId: Number,
      org: Object,
      requestClasses: {
        type: Array,
        value: [],
      },
    },

    listeners: {
            'orgDSS.ds-get-complete' : '_filterDuplicates',
            'allReqClassDSS.ds-get-complete' : '_addParent',
        },

        observers: [
      '_updateRequestClass(currentWorkTasks)',
    ],

    _updateRequestClass: async function() {
      await this.$.allReqClassDSS.refresh();

			for (let task of this.currentWorkTasks || []) {
				// FIXME Bail out on first selected
				const selected = this.allRequestClasses.
				    filter(obj => obj._id === task.reqclass.id);

				if (selected && selected.length > 0)
					this.$$('#req-' + task._id).querySelector("#triSelectInputField").value =
					    `${selected[0].parent}\\${selected[0].name}`;
      }
    },

    _onHideReqClass: function(action) {
      return (action.value != "Create Work Order");
    },

    _onHideEmp: function(action) {
      return (action.value != "User Action Required");
    },

    _onHideOrg: function(action) {
      return (action.value != "Corrected On-site");
    },

    _handleActionChanged: function(e) {
      if(e.model.item && typeof e.model.item.num != "undefined") {
        this._toggleHiddenFields(e.model.item);
      }
    },

    _onChangeCorrected: function(e) {
      e.model.item.corrected = e.target.checked;
      this._onSaveWorkTask(e);
    },
    
    _onSaveWorkTask: async function(e) {
      if (e.model.item != null && typeof e.model.item.num != "undefined") {
        await this.$.currentWorkTaskDS.updateRecord(e.model.item._id);
				this.fire("toggle-flag");
      }
    },

    _onDeleteWorkTask: async function(e) {
      await this.$.currentWorkTaskDS.deleteRecord(
				  e.model.item._id, TriPlatDs.RefreshType.SERVER, "default", "delete");

			this.fire("work-task-deleted", { 
				id: this.questionId,
				wtcount: this.currentWorkTasks.length,
				category: this.categoryName 
			});
    },

    _toggleHiddenFields: function(item) {
      this.$$('#req-' + item._id).hidden = true;
      this.$$('#emp-' + item._id).hidden = true;
      this.$$('#org-' + item._id).hidden = true;

      if (item.action) {
        if (item.action.value == "Create Work Order") {
          this.$$('#req-' + item._id).hidden = false;
        } else if (item.action.value == "User Action Required") {
          this.$$('#emp-' + item._id).hidden = false;
        } else if (item.action.value == "Corrected On-site") {
          this.$$('#org-' + item._id).hidden = false;
        }
        
        this.$.currentWorkTaskDS.updateRecord(item._id);
      }
    },

    _isFlagged: function(flag) {
      if (flag) {
        return "red";
      } else {
        return "original";
      }
    },

    _toggleFlagged: function(e) {
      this.querySelectorAll('paper-checkbox').forEach(function(elem) {
        elem.updateStyles();
      });
      this.querySelectorAll('paper-input').forEach(function(elem) {
        elem.updateStyles();
      });
      this.querySelectorAll('cst-triplat-select-input').forEach(function(elem)  {
        elem.updateStyles();
      });
      
      this._onSaveWorkTask(e);
    },

    _filterDuplicates: function() {
      var filOrg = [];
      var values = [];
      var value;

      for(var i = 0; i < this.organizations.length; i++) {
        value = this.organizations[i]["name"];

        if(values.indexOf(value) === -1) {
        filOrg.push(this.organizations[i]);
        values.push(value);
        }
      }
      this.organizations = filOrg;
    },

    _addParent: function() {    
      for (var j = this.requestClasses; j > 0; j--) {
        this.requestClasses.pop();
      }

      this.requestClasses = this.clone(this.allRequestClasses);
      
      for (var i = 0; i < this.requestClasses.length; i ++) {
        this.requestClasses[i].name = this.requestClasses[i].parent + '\\' + this.requestClasses[i].name
      }


      var filOrg = [];
      var values = [];
      var value;

      for(var i = 0; i < this.requestClasses.length; i++) {
        value = this.requestClasses[i]["name"];

        if(values.indexOf(value) === -1) {
        filOrg.push(this.requestClasses[i]);
        values.push(value);
        }
      }
      this.requestClasses = filOrg;
    },
    
    clone: function(obj) {
      if (obj === null || typeof(obj) !== 'object' || 'isActiveClone' in obj)
        return obj;

      if (obj instanceof Date)
        var temp = new obj.constructor(); //or new Date(obj);
      else
        var temp = obj.constructor();

      for (var key in obj) {
        if (Object.prototype.hasOwnProperty.call(obj, key)) {
        obj['isActiveClone'] = null;
        temp[key] = this.clone(obj[key]);
        delete obj['isActiveClone'];
        }
      }

      return temp;
    }

  });
</script>