<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">

<link rel="import" href="view-work-task.html">
<link rel="import" href="view-category.html">
<link rel="import" href="view-spaces.html">

<dom-module id="view-all-questions">
  <template>

    <style is="custom-style"> 
      :host {
        @apply(--layout-flex);
        @apply(--layout-scroll);
        text-align: center;
      }

      paper-card {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        text-align: left;
      }

      .footer paper-card {
        text-align: center;
        top: 40px;
      }

      paper-button {
        margin-bottom: 5px;
      }

      .header paper-card {
        text-align: center;
      }

      .tabs {
        @apply(--layout-horizontal);
            @apply(--layout-center-justified);
      }

      paper-tabs {
           --paper-tabs-selection-bar-color: rgb(29, 54, 73);
           font-weight: bold;
           width: 100%;
           border: 0px solid;
           background-color: rgb(255, 255, 255);
        }

        paper-tab.iron-selected {
            background-color: rgb(29, 54, 73);
            color: #fff;
            font-weight: bold;
        }
        
      .big {
        --paper-icon-button: {
            width: 100px;
            height: 100px;
          }
      }
      
      #top-nav {
        position: fixed;
        /*top: 133px;*/
        top: 64px;
        left: 50%;
        z-index: 999;
        width: 100%;
        background: rgb(255, 255, 255);
        transform: translateX(-50%);
      }

      #data-container {
        /*margin-top: 220px;*/
        margin-top: 151px;
      }
    </style>

    <triplat-ds id="allQuestionsDS" name="Questions" data="{{rawQuestions}}">
      <triplat-ds-context name="myInspections" context-id="[[inspectionId]]"></triplat-ds-context> 
    </triplat-ds>

    <triplat-ds id="questionsWithObservationsDS" name="questionsWithObservations" data="{{questionsWithObservations}}">
      <triplat-ds-context name="myInspections" context-id="[[inspectionId]]"></triplat-ds-context>
    </triplat-ds>

    <triplat-ds id="riskLevelDS" name="riskLevel" data="{{riskLevels}}"></triplat-ds>

    <triplat-ds id="workOrderActionDS" name="workOrderAction" data="{{workOrderActions}}"></triplat-ds>

    <triplat-ds id="selectedSpacesDS" name="selectedSpaces" data="{{selectedSpaces}}">
      <triplat-ds-context name="myInspections" context-id="[[inspectionId]]"></triplat-ds-context>
    </triplat-ds>

    <triplat-ds id="spaceDS" name="labs" data="{{availableSpaces}}"></triplat-ds>
    <triplat-ds id="questionCategoryDS" name="questionCategories" data="{{questionCategories}}"></triplat-ds>

    <triplat-route name="inspectionDetails" params="{{params}}"></triplat-route>

    <div>
      <div id="top-nav">
        <paper-card>
          <div class="card-actions">
            <div class="horizontal layout">
              <div id="showHeaderButton" class="flex"><paper-button on-tap="_onShowHeader">Show Inspection Details</paper-button></div>
            </div>
          </div>
        </paper-card>
      
        <div class="tabs">
          <paper-tabs selected="{{selectedTab}}" no-bar noink>
            <paper-tab>Labs</paper-tab>
              <paper-tab>Inspection Findings</paper-tab>
              <paper-tab>Observations</paper-tab>
          </paper-tabs>  
        </div>
      </div>

      <div id="data-container">
        <iron-pages selected="[[selectedTab]]">
          <div id="Spaces">
            <view-spaces
              id="view-spaces"
              available-spaces="[[_filterAvailableSpaces(availableSpaces)]]"
              selected-spaces="[[_setOfSelectedSpaces(selectedSpaces)]]"
              inspection-id="[[inspectionId]]"
              building-id="[[buildingId]]"
              floor-id="[[floorId]]"
              on-space-added="_onSpaceAdded"
              on-space-removed="_onSpaceRemoved">
            </view-spaces>
          </div>

          <div id="question">
            <template id="categoryList" is="dom-repeat" items="[[questionCategories]]">
              <view-category
                id="category-[[_fixName(item.name)]]"
                inspection-id="[[inspectionId]]"
                all-questions="[[_filterQuestionsForCategory(rawQuestions, item.name)]]"
                question-category="[[item.name]]"
                category-id="[[item._id]]"
                risk-levels="[[riskLevels]]"
                work-order-actions="[[workOrderActions]]"
                available-spaces="[[selectedSpaces]]"
                on-question-answered="_onQuestionAnswered"
                on-work-task-created="_onWorkTaskCreated">
              </view-category>
            </template>
          </div>

          <div id="workOrders">
            <!--
            <template id="workTaskList" is="dom-repeat" items="{{questionsWithObservations}}">

              <div id="question-wo-list-{{item._id}}">
                
                <paper-card>
                  <div class="horizontal layout">
                    <div id="showless-{{item._id}}"><paper-icon-button class="big" icon="expand-less" on-tap="_onShowLess">Less</paper-icon-button></div>
                    <div id="showmore-{{item._id}}" hidden="true"><paper-icon-button class="big" icon="expand-more" on-tap="_onShowMore">More</paper-icon-button></div>
                    <div class="vertical layout flex">
                      <h4>{{item.cat}}</h4>
                      <h4>{{item.text}}</h4>
                    </div>
                  </div>
                </paper-card>

                <div id="question-wo-{{item._id}}">
                  <view-work-task
                    id="workTask-{{item._id}}"
                    question-id="{{item._id}}"
                    inspection-id="{{inspectionId}}"
                    category-name="{{_fixName(item.cat)}}"
                    risk-levels="{{riskLevels}}"
                    work-order-actions="{{workOrderActions}}"
                    available-spaces="{{availableSpaces}}"
                    on-work-task-deleted="_onWorkTaskListDelete">
                  </view-work-task>

                </div>

              </div>

            </template>
          -->
            <div id="footer">
              <div id="footerSection" class="footer">
                <paper-card>
                  <div class="card-actions">
                    <paper-button on-tap="_onCompleteInspection" disabled$="{{disableComplete}}">Complete Inspection</paper-button>
                  </div>
                </paper-card>
              </div>
            </div>
          </div>

        </iron-pages>
      </div>
    </div>

    <paper-toast id="workOrderCreated" text="Observation Created"></paper-toast>
    <paper-toast id="workOrderDeleted" text="Observation Deleted"></paper-toast>

  </template>
</dom-module>
<script>
  Polymer({
    is: "view-all-questions",

    properties: {
      inspectionId: Number,
      selectedTab: {
        type: Number,
        value: 0,
        notify: true,
      },
      selectedSpaces: {
        type: Array,
      },
      availableSpaces: {
        type: Array,
      },
      buildingId: {
        type: Array,
        notify: true,
      },
      floorId: {
        type: Array,
        notify: true,
      },
      disableComplete: {
        type: Boolean,
        value: true
      }
    },

    _filterQuestionsForCategory(questions, category) {
      return questions.
          filter(q => q.cat === category).
          sort((lhs, rhs) => lhs.num - rhs.num || lhs.text.localeCompare(rhs.text));
    },

    _filterAvailableSpaces(spaces) {
      if (this.floorId && this.floorId.value) {
        return this.availableSpaces.filter(space => 
            space.building.value === this.buildingId.value &&
            space.floor.value === this.floorId.value);
      } else {
        return this.availableSpaces.filter(space => 
            space.building.value === this.buildingId.value);
      }
    },

    _onSpaceAdded(e) {
      this.$.selectedSpacesDS.addRecord(e.detail, TriPlatDs.RefreshType.NONE);
    },

    _onSpaceRemoved(e) {
      this.$.selectedSpacesDS.removeRecord(e.detail, TriPlatDs.RefreshType.NONE);
    },

    _setOfSelectedSpaces(spaces) {
      const set = {};
      for (let space of spaces)
        set[space._id] = space;
      return set;
    },

    _onDataLoad: function() {
      this.$.workTaskList.render();
      this.$.questionList.render();
    },

    _onCompleteInspection: function() {
      this.fire('complete-inspection');
    },

    _onQuestionAnswered: function(e) {
      this.$.allQuestionsDS.updateRecord(e.detail._id, TriPlatDs.RefreshType.NONE);
      this.fire('question-answered');
    },

    _onWorkTaskCreated: function() {
      this._refreshWorkTaskList();
      this.$.workOrderCreated.show();
    },

    _onShowHeader: function() {
      this.fire("show-header");
    },

    _onWorkTaskListDelete: function(e) {
      this.$$('#category-' + e.detail.category).workTaskDeleted(e.detail.id);
      if(e.detail.wtcount === 0) {
        this.$$('#question-wo-list-' + e.detail.id).hidden = true;
      }
      this.$.workOrderDeleted.show();
    },

    _onShowLess: function(e) {
      this.$$('#question-wo-' + e.model.item._id).hidden = true;
      this.$$('#showless-' + e.model.item._id).hidden = true;
      this.$$('#showmore-' + e.model.item._id).hidden = false;
    },

    _onShowMore: function(e) {
      this.$$('#question-wo-' + e.model.item._id).hidden = false;
      this.$$('#showless-' + e.model.item._id).hidden = false;
      this.$$('#showmore-' + e.model.item._id).hidden = true;
    },

    _refreshWorkTaskList: async function() {
      await this.$.questionsWithObservationsDS.refresh();
			//Need to do this in order to force update the dom-repeat
			this.splice("questionsWithObservations",0,0,"aaa");
			this.$.workTaskList.render();
			this.splice("questionsWithObservations",0,1);
    },

    _fixName: function(name) {
      if(name) {
        return name.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/\s]/gi, '');
      }
    },

    _hasWO: function(question) {
      return(question.resp == "No" && question.wtcreated);
    },
  });
</script>